#Qualquer env
**/.env

#backup
meu_backup_completo.sql

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

#docker
postgres_data/
docker-compose.override.yml

# arquivos
backend/populate.py
backend/clean_db.py
backend/migrations
backend/backfill.py
indices_mapeamento.pkl
tfidf_matrix.pkl
tfidf_vectorizer.pkl
mmodelo_colaborativo.pkl


#testes
.pytest_cache/
.coverage

#ides
.vscode/
.idea/

#so
.DS_Store
Thumbs.db

#logs
*.log