#Qualquer env
**/.env

#backups
meu_backup_completo.sql


# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

#docker 
postgres_data/

# arquivos
backend/populate.py
backend/clean_db.py


# Testes
################################
.pytest_cache/
.coverage

# IDEs e Editores
################################
.vscode/
.idea/

# Arquivos de Sistema Operacional
################################
.DS_Store
Thumbs.db

# Arquivos de Log
################################
*.log